:root {
  --main-clear-color: #05dbf2;
  --main-dark-color: #010d17;
}

body {
  background-color: var(--main-dark-color);
}

.text-main-clear {
  color: var(--main-clear-color);
}

.border-main-clear {
  border-color: var(--main-clear-color);
}

.bg-dark {
  background-color: var(--main-dark-color);
}

.nav-element {
  transition: all 0.3s ease-in-out;
}
.nav-element:hover,
.nav-element:focus {
  background-color: var(--main-clear-color);
  color: var(--main-dark-color);
}
